.menu{
    width: 80%;
    height: 100vh;
    text-align: left;
    position: fixed;
    transition: 0.5s;
    left: -100%;
    background-color: yellow;
}
.menu ul li{
    list-style: none;
    padding: 10px 0px;
}
.micon{
    position: absolute;
    right: 10px;
}
.activemenu{
    left: 0%;
}